.container > div {
    /* height: 100px;
    width: 100px; */
}

.container {
    margin-top: 2vh;
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
}

.App {
}
